:root {
    --line-color: #008000; /* Default to Green Line E */
    --line-color-lighter: #CCFFCC; /* Default to lighter Green Line E */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 20px 0;
}

h1 {
    color: #333;
    margin-top: 0; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

li {
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-location {
    color: var(--line-color);
    font-weight: bold;
    background-color: var(--line-color-lighter);
}

/* Button styles */
.button-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.button-container button {
    background-color: var(--line-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.button-container button:hover {
    background-color: var(--line-color);
}

.direction-button:not(.selected) {
    background-color: #ddd;
}

.line-container {
    margin-bottom: 20px;
}

#lineSelect {
    padding: 10px;
    font-size: 16px;
}
